html, button{
    text-shadow: 0px 0px 8px white;
    font-family: poppins,arial;
    color: white;
    background-color: black;
    transition: all 1s;
}

a{
    text-decoration: none;
    color: white;
}

hr{
    width: 80%;
    opacity: 50%;
}

/*Navbar*/

nav{
    text-align: left;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 16px;
    border-radius: 24px;
    height: 64px;
    display: flex;
    padding: 16px;
}

.shishkabobimg{
    height: 64px; 
    width: 64px; 
    border-radius: 16px;
    padding: 0%;
}

nav h1{
    margin: 0%;
    padding-left: 24px;
    padding-top: 16px;
}

nav a{
    padding-right: 28px;
}

nav a:hover{
    color: rgb(180, 180, 180);
}

.navbaroptions{
    margin-left: auto;
    margin-top: 22px;
}

/*End of Navbar*/

.main, .contentHolder, .gameholder{
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 32px;
    padding: 32px;
    margin: 16px;
}

.main
{
    height: auto;
    justify-content: center;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    text-align: center;
}


#gameMainContent{
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#gameSection{
    display: flex;

}
#gameSidebar{
    width: 30%;
    text-align: left;
}


.gamescreenshot
{
    border-radius: 20px;
    height: 288px;
    margin: 16px;
    width: 512px;
    object-fit: cover;
    box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.5);
}

.gameholder
{
    height: 640px;
    width: 480px;
    object-fit: cover;
    padding: 0%;
    transition: all 0.3s;
}

.gameholder p
{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
}

.gameSection{
    justify-content: space-evenly;
    display: flex;
}

.gameholder:hover{
    box-shadow: 0px 0px 8px white;
}

.gameholder img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}


button{
    margin: 12px;
    background-color: #3173eb;
    border-radius: 32px;
    height: 48px;
    width: max-content;
    border-style: none;
    cursor: pointer;
    font-size: medium;
    padding-left: 32px;
    padding-right: 32px;
}

button:hover
{
    background-color: #204c9e;
}

button {
    transition: background-color 0.2s;
}

.btnbox{
    margin-top: 16px;
    margin-bottom: 32px;
}


/*Footer*/

footer 
{
    overflow-x: hidden;
    height: 64px;
    color: #acacac;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 24px;
    text-align: center;
    margin: 16px;
    
}

footer p 
{
    padding-top: 8px;
    text-shadow: 0px 0px 8px #acacac;
}

.bg{
    z-index: -1;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(32px);
}