* {
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: poppins;
}

hr{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin: 8px;
    border: 0px;
}

a:hover{
    color: rgb(201, 201, 201);
}


body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    box-shadow: inset 0px 0px 20px 2px black;
}

button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  opacity: .75;
}

p, a, h1,h2,h3,h4,h5,h6 ,#splogo{
    filter: drop-shadow(0px 1px 1px black)
}

#splogo{
    height: 100%;
}

nav, footer{
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    padding: 16px;
}

nav{
    height: 50px;
    justify-content: space-between;
    filter: drop-shadow(0px 2px 5px black);
}

footer{
    filter: drop-shadow(0px -2px 5px black);
    justify-content: center;
}

#navlinks{
    display: flex;
    align-items: center;
    width: 420px;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#navlinks a{
    text-decoration: none;
}

main{
    background-color: rgba(0, 0, 0, 0.75);
    max-width: 1024px;
    min-width: 240px;
    height: 100%;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 2px black;
    padding-bottom:initial;
}

#games{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: space-evenly;
}

#games img{
    max-width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
}

#games a{
    max-width: 45%;
    margin: 8px;
}

.album{
    object-fit: cover;
    width: 80%;
    aspect-ratio: 1/1;
}

#gameContentHolder{
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.40);
}

#gameContent{
    background-color: rgba(0, 0, 0, 0.85);
    width: 70%;
    height: 85%;
    top: 50%;
    left: 50%;
    margin: auto;
    padding: 32px;
    position: absolute;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow: 0px 2px 6px black;
    overflow-y:auto;
    overflow-x: hidden;
    z-index: 5;
}

#gameContentClose{
    top: 0%;
    right: 0%;
    position: absolute;
    margin: 16px;
    z-index: 10;
    cursor: pointer;
    height: 27px;
    width: 27px;
    text-align: center;
}

#gameContentTitle{
    max-height: 240px;
    max-width: 100%;
    margin: 32px;
    object-fit: contain;
}

#gameContentScreenshot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#gameContentScreenshot img{
    max-width: 40%;
    aspect-ratio: 16/9;
    margin: 1%;
    object-fit: cover;
    border-radius: 8px;
}

#gameContentDesc{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 128px;
}

#bg{
    z-index: -10;
    position: fixed;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(16px);
}