.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: left;
    }

    .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    display: block;
    }

    .sidenav a:hover {
    color: #acacac;

    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

    .main {
    margin-left: 168px; /* Same as the width of the sidebar */
    background-color:rgb(0, 0, 0);
    text-align: center;
    font-family: poppins,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-shadow: 0px 0px 8px white;
    }

    .GAMEIMG{
        width: 512px;
        height: 384px;
        object-fit: cover;
        border-radius: 50px;
    }